#img-topo{
  /* margin-left: -90px ;
  margin-top: -80px; */
  height: 40px;
  width: 120%;
  background-image: url("../image/bg01.png");
}

body{
  /* padding: 20px; */
  /* margin: 90px; */
  position: relative;
  font-family: "Arial";
}

nav a{
  /* color: #98baae ; */
  /* width: 33.33%; */
  float: left;
  color: #B8DCD0 ;
  text-decoration: none !important;
  padding: 30px;
  margin-top: 15px;
  font-weight: 550;
}

#logo{
  font-size: 30px;
  float: left;
  /* color: #98baae ; */
  padding: 20px;
}

#home{
  color: #98baae;
}

.button{
  background-color: #98baae;
  color: white;
  width: 120px;
  height: 40px;
  border: 2px solid #98baae;
  padding: 5px;
  border-radius: 6px;
}

.button-footer{
  background-color: #98baae;
  color: white;
  width: 120px;
  height: 40px;
  border: 2px solid #98baae;
  padding: 5px;
  border-radius: 6px;
}

.segura-cont{
  margin-left: -4px;
  width: 25%;
  margin-left: 5px;
  float: left;
}

.segura-cont span{
  line-height: 30px;
}


.segura-foot{
  /* clear: left; */
  background-image: url("../image/bg01.png");
  height: 40px;
  width: 33%;
  float: left;
  text-align: center;
}

.segura-foot p{
  text-align: left;
}

#direitos{
  text-align: center;
}
