*{
  padding: 10px;
  margin: 10px;
}

a{
  color: red !important ;
  text-decoration: none !important;
}
nav a{
  float: left;
  /* width: 33.33%; */
  padding: 30px;
}

#logo{
  font-size: 30px;
  float: left;
}
