*{
  padding: 0;
  margin: 0;
}
header{
  width: 78%;
  height: 70px;
  z-index: 3;
  position: relative;
  background: #00000026;
  top: 31px;
  left: 152px;
}

nav{
  position: relative;
  width: 50%;
  display: inline-block;
  opacity: 0.8;
  margin-top: 2.4%;
  position: relative;
  text-align: center;
  left: 479px;
}

h1{
  position: absolute;
  float: left;
  /* text-align: center; */
  /* margin-top: 1.6%; */
  /* margin-left: 18%; */
  /* margin-right: 2%; */
  color: blue;
  font-size: 26px;
  transition: 0.2s;
  top: 18px;
  left: 120px;
}
h1:hover{
  color: green;
  border: 50px none blue;
}


nav a{
  color: black;
  width: 20px;
  margin-right: 4%;
  text-decoration: none;
  transition: 0.2s;
}
nav a:hover{
  color: green;
  margin-right: 4%;
  border: 50px none blue;
}

main{
  background-color: red;
  width: 100%;
}

#segura-img{
  margin-top: 20px;
  position: relative;
}

section{
  width: 100%;
  /* margin-left: -100px; */
  /* height: 1000px; */
  /* margin-left: 10%; */
}

#img0{
  width: 100%;
  height: 100vh;
  margin-top: -120px;
  position: relative;
}

.text-img{
  position: absolute;
  z-index: 1;
  top: 274px;
  left: 234px;
  width: 40%;
}

p{
    font-family: "Arial", serif;
    font-size: 30pt;
}

b{
  font-family: "Arial", serif;
  font-size: 18pt;
}

strong{
    font-family: "Arial", serif;
    margin-top: 100px;
}

#span-img{
  font-family: "Arial", serif;
  font-size: 14pt;
}

.segura-cont{
  float: left;
  width: 100%;
  height: auto;
  margin-top: -34px;
  z-index: 2
}

.segura-cont-div-img{
  position: relative;
  z-index: 3;
  top: -100px;
  width: 100%;
}

#bem-vindo{
  position: relative;
  z-index: 4;
  font-size: 10pt;
  top: 114px;
  left: 60px;
  width: 60%;
}


.segura-cont-div{
  position: absolute;
  background-image: url("../image/img1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 0px #0000002b;
  font-family: "Arial";
}
.segura-cont-div-art{

}

h2{
  font-size: 25pt;
}

#h2-bem{
  position: relative;
  margin-bottom: 20px;
  left: 172px;
}

.segura-cont-div-art span{
  line-height: 26px;
  position: relative;
  top: 20px;
  left: 172px;
}

.polaroid span{
  position: relative;
  top: 76px;
}

.button-bem{
  background-color: #071433;
  border-radius: 10px;
  opacity: 0.7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 172px;
  box-shadow: 3px 3px 1px #0000003d;
}

.div-segura-art{
  background-image: url("../image/frontpage.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 480px;
  min-height: 600px;
}


.segura-cont-art{
  transition: 0.2s;
  font-family: "Arial", serif;
  color: white;
  width: 40%;
  padding: 10px 10px 20px 10px;
  /* border: 2px solid #0000001f; */
  background-color: #3e6287;
  background-color: #2c3f539c;
  border-radius: 10px;
  box-shadow: 6px 5px 0px #aaaaaa1f;
  position: relative;
  z-index: 5;
  top: 50px;
  left: 5%;
  float: left;
  height: 450px;
  padding: 15px;
}

#art-2{
  margin-left: 5%;
}

.segura-cont-art::after{
  content: "";
  background-image: url("../image/bg00.png");
  opacity: 0.5;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* .segura-cont-art:hover {
  transform: translate(20px, 20px);
} */

.polaroid h2{
  font-size: 25pt;
  position: relative;
  top: 63px;
}

.button-art{
  background-color: #071433;
  border-radius: 10px;
  opacity: 0.7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 142px;
  left: 170px;
  box-shadow: 3px 3px 1px #0000002b;
}

.segura-cont-footer{
  width: 23.5%;
  min-height: 200px;
  float: left;
  padding: 10px 10px;
  background: #00000026 ;
  text-align: center;

}

.segura-cont-footer strong{
  margin-top: 20px;
  font-size: 16px;
}

.segura-cont-footer ul li{
  list-style: none;
  font-size: 12px;
}

.segura-cont-footer ul{
  font-family: "Arial";
  margin-top: 14px;
  line-height: 22px;
}
footer p{
  width: 100%;
  min-height: 200px;
  text-align: center;
  font-size: 20px;
}
